<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="member-page">
    <h1><%= title %></h1>
    <form method="post" action="">
        <p>To become a member, please type in the correct answer for the following question.</p>
        <p>What is the speed of light in m/s?</p>
        <input class="form-input" type="number" name="answer" required>
        <button class="form-button">Submit</button>
        <% if (undefined!==error) { %>
          <p><%= error %></p>
        <% } %>
    </form>
  </body>
</html>