<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
      <h1>Welcome <%= user.first_name %></h1>
      <a href="/log-out">Log Out</a>
      <% if (!user.member) { %>
        <a href="/member">Become a member</a>
      <% } %>
    <% } %>
  </body>
</html>
