body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 3rem;
  color: white
}

h2 {
  font-size: 2.5rem;
  color: white;
}

p {
  color: white;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.site-description {
  font-size: 1rem;
}

.user-links-container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-links-container>a,
.new-message-link {
  font-size: 2rem;
  text-decoration: none;
  color: greenyellow;
}

.create-message-button {
  font-size: 2rem;
  background-color: greenyellow;
  color: black;
  padding: 10px 30px;
  width: max-content;
  cursor: pointer;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: greenyellow;
  border-radius: 20px;
  height: max-content;
}

form>p,
.message-header {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

textarea {
  width: 600px;
  height: 200px;
  font-size: 1.5rem;
}

.form-item {
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.form-input {
  font-size: 1.5rem;
}

.form-button {
  background-color: white;
  width: 40%;
  min-width: max-content;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.messages-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-div {
  background-color: greenyellow;
  padding: 10px;
  width: 250px;
  border-radius: 8%;
}

.message-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-data>p {
  color: black;
  margin: 0px;
  font-size: 1.5rem;
}

.message-div>p {
  color: black;
  font-size: 1.2rem;
}

.message-div>form {
  padding: 0px;
}

ul {
  list-style: none;
}

.errors {color: white}
